{% extends "main.html" %}
{% block content %}
<section id="about-sect">
    <article id="about">
        <h2 class="post-title">About</h2>
        <p class="about-post">
            This is a blog-project made with a Python microframework Flask + Flask-login. Database that is currently
            being used is MySQL, but I'm thinking about changing it to MongoDB for learning purposes.
        </p>
    </article>
    <article id="contact">
        <h2 class="post-title">My details</h2>
        <ul id="contact-list">
            <li>Otto Kivikärki</li>
            <li>ottoki@gmail.com</li>
            <li>+358451241595</li>
        </ul>
    </article>
</section>
{% endblock %}