<!DOCTYPE html>
<html>
<head>
    <title>mBlog</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="container">
        <h1 style="margin-left: 50px;">mBlog</h1>
        <div id="navcontainer">
            <ul id="nav">
                <li><a href="{{ url_for('mainpage') }}">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>