<!DOCTYPE html>
<html>
<head>
    <title>Otto Kivikärki - Blog</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="container">
        <div id="header">
            <span>Blog</span>
        </div>
        <div id="navcontainer">
            <nav>
                <ul id="main-nav">
                    <li><a href="{{ url_for('mainpage') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    {% if not current_user.is_authenticated() %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                    <li><a href="{{ url_for('admin') }}">Admin</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>